<h1>Create a New Cocktail!</h1>

<%= form_for(@cocktail) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>
  <div>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </div><br>
<%# gonna need a field for ingredients here %>
  </div><br>

  <%# gonna need the option to add to a menu and a restaurant (find_or_create_by) %>
  <%= f.submit %>
<% end %>